.hero {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url("./hero-background.png");
    background-size: cover;
    background-position: center;
}
.heroImage {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.heroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroTitle {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}